# Unit 6. 변수 (Variable)

In [1]:
my_height = 174.5           # snake 표기법
myWeight = 72              # camel 표기법

In [ ]:
# 파이썬
# 두개 이상의 단어를 연결할 때 _ 를 사용 (snake 표기법, 파이썬)
# my_weight

# 자바
# 두개 이상의 단어를 연결할 때 대문자로 사용 (camel 표기법, 자바)
# myHeight

In [2]:
한글변수 = 5                # 한글변수명이 가능하나 잘 안쓰임

## 6.1 변수 만들기

In [3]:
x = 10

In [4]:
x, y, z = 10, 20, 30        # tuple unpacking

In [9]:
# 기존 언어에서 두개의 값을 바꾸는 방법 (Swapping)
temp = x
x = y
y = temp
x, y

(20, 20)

In [11]:
# 기존 언어에서 두개의 값을 바꾸는 방법 (Swapping)
temp = x; x = y; y = temp; x, y

(20, 20)

In [12]:
# 파이썬
x, y = y, x
x, y

(20, 20)

In [14]:
x = y = z = 10
x, y, z

(10, 10, 10)

In [16]:
# 값이 없는 변수 (=None)
x = None
x

## 6.2 변수 계산

In [17]:
a, b = 10, 20
c = a + b
a, b, c

(10, 20, 30)

In [19]:
# 변수 a의 값을 20만큼 증가
a = a + 20
a

30

In [23]:
# 올바른 실제 사용법
a += 20         # a = a + 20
a

110

In [24]:
# 1에서 100까지의 합을 구하기
summation = 0 
for i in range(1,101):
    summation += i
print(summation)

5050

In [25]:
# 1에서 10까지의 곱을 구하기
product = 1
for i in range(1,11):
    product *= i
print(product)

3628800

In [26]:
# range(5) = 0,1,2,3,4 를 의미      // = range(0,5,1)
# range(1,5) = 1,2,3,4 를 의미      // = range(1,5,1)
# range(1,10,2) = 1,3,5,7,9 를 의미 // = range(1,10,2)

# range 는 반복문에서 사용

## 6.3 입력(input)

In [30]:
x = input()
x, type(x)          # input 은 항상 문자열(string)로만 값을 받음

('ㅏㅏ', str)

In [36]:
number = int(input())             # 정수 값으로 받는법
number, type(number)

ValueError: invalid literal for int() with base 10: 'dsad'

In [41]:
flt = float(input('실수를 입력하세요'))            # 실수값으로 받는법  # prompt
flt, type(flt)

(3213.3, float)

In [45]:
a = int(input('첫번째 숫자를 입력하세요: '))
b = int(input('두번째 숫자를 입력하세요: '))

a,b

(1, 2)

In [49]:
a = int(input('첫번째 숫자를 입력하세요: '))
b = input('두번째 숫자를 입력하세요: ')
a, int(b)

(1, 2)

In [51]:
10 + 20, '10' + '20'        # 앞에건 숫자값, 뒤에껀 string 값

(30, '1020')

## 6.4 입력값 두개 받기

In [52]:
# 스트링 split() method
'10 20'.split()         # 공백으로 분리하여 두개의 문자열이 리스트로 반환

['10', '20']

In [70]:
a, b = '10 20'.split()
a, b

('10', '20')

In [73]:
a, b = input('두개의 숫자를 입력하세요.').split()
a, b

('1', '10')

In [71]:
int(a) + int(b)

30

In [68]:
# map
list(map(int, ['10','20']))

[10, 20]

In [72]:
a, b = map(int, input('두개의 숫자를 입력하세요.').split(','))  # 입력받은 값은 콤마 기준으로 구분
a, b, a+b

(1, 2, 3)

In [74]:
# ,로 분리된 숫자 세개를 입력으로 받아, 합계를 구하기
a, b, c = map(int, input(',로 분리된 세개의 숫자를 입력하세요.').split(','))
a, b, c, a + b + c

(1, 10, 100, 111)

In [76]:
# - 숫자 N 개를 입력 받아서 합계와 평균 구하는 방법
numbers = list(map(int, input('정수 여러개를 입력하세요.').split()))
numbers
sum(numbers), sum(numbers)/len(numbers)

# 내장 함수의 함수명을 변수명으로 사용하지 말것

TypeError: 'int' object is not callable