# Unit 22. 리스트와 튜플 응용

## 22.1 리스트 조작

In [2]:
# 함수 function
# 메소드 method
# Class -> 객체(리스트)  
# 객체 : 속성값 과 메소드를 가지고있음

In [5]:
# sum은 함수 (function)
a = [1, 3, 5, 7, 9]
sum(a)

25

In [8]:
# append는 메소드(method)
a.append(11)
a

[1, 3, 5, 7, 9, 11, 11, 11]

- 리스트에 요소 추가

append : 요소 하나를 추가 \
extend : 리스트를 연결하여 확장 \
insert : 특정 인덱스에 요소 추가

In [10]:
# 일반적으로 array 를 한번 설정하면 값을 추가를 시킬 수 없음
# 그에따라 리스트가 나왔으며 리스트는 값을 추가,삭제 가 가능함

In [12]:
a = [10,20,30]
a.append(500)
a

[10, 20, 30, 500]

In [17]:
# 솟수(prime number) : 2, 3, 5, 7, 11, ...
prime_numbers = []

def is_prime_number(num):
    if num == 2:
        return True
    for i in range(2, num):
        if num % i == 0:
            return False
    return True


for i in range(2, 101):
    if is_prime_number(i):
        prime_numbers.append(i)
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [19]:
# 1에서 100까지 7의 배수 리스트 만들기
multiple7 = []
for i in range(1, 101):     #1부터 100까지 중에
    if i % 7 == 0:          # i를 7로 나눠서 나머지가 0이면
        multiple7.append(i) # 값에 저장
multiple7                   # 출력

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [20]:
a = [10,20,30]
a.append([100,200])
a

[10, 20, 30, [100, 200]]

In [21]:
b = [10,20,30]
b.extend([100,200])
b

[10, 20, 30, 100, 200]

In [22]:
c = [10,20,30]
c.insert(0,100)             # index, element
c

[100, 10, 20, 30]

- 요소 삭제

pop : 마지막 요소 또는 특정 인덱스의 요소를 삭제 \
remove : 특정 값을 찾아서 삭제

In [23]:
del c[0]
c

[10, 20, 30]

In [24]:
a = [10,20,30]
a.pop()             # 마지막 요소를 삭제하면서 마지막 값을 가르켜줌

30

In [25]:
a = [10,20,30]
last_value = a.pop()
last_value, a

(30, [10, 20])

In [27]:
a = [10,20,30]
a.remove(20)
a

[10, 30]

- Stack(Last-in, First-Out)
- Queue(First-in, First-Out)

- 특정 값의 인덱스

In [31]:
a = [10,20,30,20,40]
a.index(20)

1

- 특정 값의 갯수

In [35]:
a.count(20)

2

- 리스트의 순서 뒤집기

In [36]:
a = [10,20,30,40,50]
a.reverse()
a

[50, 40, 30, 20, 10]

In [40]:
list(reversed(a))
a

[50, 40, 30, 20, 10]

In [41]:
a = list(reversed(a))
a

[10, 20, 30, 40, 50]

In [38]:
a               # 리스트에 저장된 메소드는 자기자신을 변화시킴
                # reverse 는 변경된 값을 보여줌 (저장x)

[50, 40, 30, 20, 10]

In [42]:
a[::-1]

[50, 40, 30, 20, 10]

- 정렬(Sort)

In [45]:
a = [10,20,50,30,40]
a.sort()
a                           # 숫자를 순서대로 나타내줌

[10, 20, 30, 40, 50]

In [52]:
# 반복문으로 sort 구현
# sorting 을 하는 알고리즘은 굉장히 많음
# bubble sort

a = [10,20,50,30,40,5,25]
for i in range(len(a)-1):
    for k in range(i+1, len(a)):
        if a[i] > a[k]:
            a[i], a[k] = a[k], a[i]
a

[5, 10, 20, 25, 30, 40, 50]

In [53]:
# 올림차순 (ascending order)
a = [10,20,30,43,523,312,52452,2624]
a.sort()
a

[10, 20, 30, 43, 312, 523, 2624, 52452]

In [54]:
# 내림차순 (descending order)
a = [10,20,30,43,523,312,52452,2624]
a.sort(reverse=True)
a

[52452, 2624, 523, 312, 43, 30, 20, 10]

In [67]:
# 다음중 상위 점수 3개
import random
numbers = []
for i in range(20):
    numbers.append(random.randint(1,100))
numbers.sort(reverse=True)
numbers[:3]

[94, 93, 87]

In [69]:
sorted(numbers, reverse=True)[:3]             # 함수

[94, 93, 87]

- 리스트의 모든 요소 삭제

In [71]:
a = [10,20,30]
a.clear()
a

[]

- 리스트의 슬라이스

In [75]:
a[2:5]                  # [x:x] x의 값은 인덱스
a[1::2]
a

[]

In [76]:
a = [10, 20, 30]
a.append([400, 500])
a

[10, 20, 30, [400, 500]]

In [77]:
a = [10,20,30]
a.extend([400,500])
a

[10, 20, 30, 400, 500]

In [78]:
a = [10, 20, 30]
a[len(a):] = [400, 500]
a

[10, 20, 30, 400, 500]

In [79]:
a = [10,20,30]
a[1:1] = [500,600]
a

[10, 500, 600, 20, 30]

In [ ]:
a = [10,20,30]
a

##  11.2 리스트의 할당과 복사

In [81]:
a = [0, 0, 0]
b = a

In [84]:
b[1] = 10
b[2] = 20
b

[0, 10, 20]

In [86]:
#side effect 로 의도하지 않았던 a값이 변경 됨
a

[0, 10, 20]

In [91]:
a is b

False

- 리스트의 복사

In [90]:
# copy method
# shallow copy (얇게 쓰는것)
a = [0, 0, 0]
b = a.copy()
b[1] = 20
b

[0, 20, 0]

In [89]:
a

[0, 0, 0]

In [95]:
# 2차원 이상에서는 Deeo copy가 필요함
a = [[0,0],[0,0]]           # 리스트 안의 리스트
b = a.copy()
b[1][1] = 30                # 두번째 행에있는 두번째 엘리먼트
# b[1][0] = 30                # 두번째 행에있는 첫번째 엘리먼트
b

[[0, 0], [0, 30]]

## 22.3 반복문과 리스트의 요소를 모두 출력학기

In [97]:
fruits = ['aaple','banana','cherry']
for fruit in fruits :
    print(fruit)

aaple
banana
cherry

In [100]:
for index, item in enumerate(fruits) :
    print(index, item)                          # index -> 순서, item -> 리스트

0 aaple
1 banana
2 cherry

In [101]:
for index, item in enumerate(fruits, start=1):  # 0이 아닌 1부터 시작하게 함
    print(index, item)

1 aaple
2 banana
3 cherry

In [102]:
for i in range(len(fruits)):                    # 옛날방식 (i값이 필요로 한 경우가 많았음 -> enumerate 가 만들어짐)
    print(i, fruits[i])

0 aaple
1 banana
2 cherry

## 22.4 리스트의 가장 작은 수(min), 큰 수(max), 합계(sum) 구하기

In [103]:
# 가장 작은 수 구하기
a = [38, 21, 44, 52, 41]
smallest = a[0]
for i in a: 
    if i < smallest:
        smallest = i            # i가 a 보다 작으면 smallest 를 i값으로 변환해라
smallest

21

In [106]:
# 가장 큰 수 구하기
a = [38, 21, 44, 52, 41]
largest = 0
for i in a:
    if i > largest:
        largest = i              # i가 a 보다 크면 largest 값을 i값 으로 변환해라
largest

52

In [108]:
min(a), max(a), sum(a)          # 함수 값

(21, 52, 196)

## 22.5 리스트 표현식 (comprehension)

In [109]:
# 1에서 10까지 제곱수(square list)로 된 리스트 만들기
sq_list = []
for i in range(1, 11):              # 1부터 10까지
    sq_list.append(i*i)             # 값*값 해서 제곱수 만들기
print(sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [114]:
sq_list = [i*i for i in range(1,11)]        # 위의 세줄짜리를 한줄로 만들 수 있음
print(sq_list)                              # [식 for 변수 in 리스트]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [116]:
# 홀수의 제곱수(square_list) 
odd_sq_list = []
for i in range(1, 11):
    if i % 2 == 1:                  # i를 2로 나누어서 값이 1이면
        odd_sq_list.append(i*i)     # i를 제곱수로 만들기
odd_sq_list

[1, 9, 25, 49, 81]

In [117]:
odd_sq_list = [i*i for i in range(1, 11) if i % 2 == 1]         # 위의 4줄을 한줄로 줄이는법
odd_sq_list

[1, 9, 25, 49, 81]

In [121]:
# 2단부터 구구단 만들기
a = [i*k for i in range(2,10) for k in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [122]:
a = [i*k for i in range(2,10)
            for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 22.6 리스트에 map 사용하기

In [124]:
a = [1.2, 2.5, 3.7, 4.6]
b = []
for element in a:
    b.append(int(element))
b

[1, 2, 3, 4]

In [125]:
b = list(map(int, a))
b

[1, 2, 3, 4]

In [126]:
# 리스트표현식 으로 나타내기
b = [int(element) for element in a]                      # append 안에 들어간 내용을 끄집어내서 사용 
b

[1, 2, 3, 4]

In [127]:
# a 의 제곱수로 된 리스트
sq_a = []
for element in a:
    sq_a.append(element*element)
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

In [132]:
# 리스트 표현식으로 나타내기
sq_a = [element*element for element in a]
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

In [141]:
# map 함수 적용
def square(x):
    return x*x

sq_a = list(map(square, a))
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

In [142]:
# 익명(lambda) 함수와 map 적용
sq_a = list(map(lambda x: x*x, a))
sq_a

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

## 22.7 튜플 응용하기

- 튜플도 위와 같이 사용할 수 있음 (최소값,최대값,합계,map,list 등등)