# Unit 23. 2차원 리스트

## 23.1 2차원 리스트

In [1]:
a = [[10,20], [30,40], [50,60]]
a

[[10, 20], [30, 40], [50, 60]]

In [2]:
print(a)

[[10, 20], [30, 40], [50, 60]]

In [4]:
from pprint import pprint
pprint(a, indent=2, width=20)

[ [10, 20],
  [30, 40],
  [50, 60]]

In [5]:
import numpy as np
b = np.arange(1,7).reshape(3,2) * 10
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [6]:
import pandas as pd
df = pd.DataFrame(b, columns=['첫째열','둘째열'])
df

   첫째열  둘째열
0   10   20
1   30   40
2   50   60

- 인덱싱

In [13]:
# 2차원 리스트의 인덱싱: [행 인덱스][열 인덱스]
a[2][1], a[-1][-1]

(60, 60)

In [9]:
# 넘파이 2차원 어레이 인덱싱: [행, 열] 
b[2,1], b[-1,-1]

(60, 60)

In [15]:
# 데이터프레임 인덱싱: [열][행]
df['둘째열'][2], df['첫째열'][1]

(60, 30)

- 톱니형 리스트

In [17]:
a = [[10,20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]
a

[[10, 20], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

## 23.2 반복문과 2차원 리스트

In [20]:
a = [[10,20], [30,40], [50,60]]
for row in a:
    print(row)

[10, 20]
[30, 40]
[50, 60]

In [21]:
for x, y in a:
    print(x,y)

10 20
30 40
50 60

In [23]:
for row in a:
    for element in row:
        print(row, end=' ')
    print()

for row in a:
    for element in row:
        print(element, end=' ')
    print()

[10, 20] [10, 20]
[30, 40] [30, 40]
[50, 60] [50, 60]
10 20
30 40
50 60