# Unit 23. 2차원 리스트

## 23.1 2차원 리스트

In [1]:
a = [[10,20], [30,40], [50,60]]
a

[[10, 20], [30, 40], [50, 60]]

In [2]:
print(a)

[[10, 20], [30, 40], [50, 60]]

In [4]:
from pprint import pprint
pprint(a, indent=2, width=20)

[ [10, 20],
  [30, 40],
  [50, 60]]

In [5]:
import numpy as np
b = np.arange(1,7).reshape(3,2) * 10
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [6]:
import pandas as pd
df = pd.DataFrame(b, columns=['첫째열','둘째열'])
df

   첫째열  둘째열
0   10   20
1   30   40
2   50   60

- 인덱싱

In [13]:
# 2차원 리스트의 인덱싱: [행 인덱스][열 인덱스]
a[2][1], a[-1][-1]

(60, 60)

In [9]:
# 넘파이 2차원 어레이 인덱싱: [행, 열] 
b[2,1], b[-1,-1]

(60, 60)

In [15]:
# 데이터프레임 인덱싱: [열][행]
df['둘째열'][2], df['첫째열'][1]

(60, 30)

- 톱니형 리스트

In [17]:
a = [[10,20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]
a

[[10, 20], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

## 23.2 반복문과 2차원 리스트

In [20]:
a = [[10,20], [30,40], [50,60]]
for row in a:
    print(row)

[10, 20]
[30, 40]
[50, 60]

In [21]:
for x, y in a:
    print(x,y)

10 20
30 40
50 60

In [23]:
for row in a:
    for element in row:
        print(row, end=' ')
    print()

for row in a:
    for element in row:
        print(element, end=' ')
    print()

[10, 20] [10, 20]
[30, 40] [30, 40]
[50, 60] [50, 60]
10 20
30 40
50 60

In [24]:
a = [[10,20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]
for row in a:
    for element in row:
        print(element, end=' ')
    print()

10 20
500 600 700
9
30 40
8
800 900 1000

In [32]:
len(a), len(a[0]), len(a[1]), len(a[2])         # a 는 전체갯수

(6, 2, 3, 1)

In [33]:
for i in range(len(a)):
    for k in range(len(a[i])):
        print(a[i][k], end=' ')
    print()

10 20
500 600 700
9
30 40
8
800 900 1000

## 23.3 반복문으로 리스트 만들기

In [35]:
a = []

for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
    a.append(line)
print(a)

[[0, 0], [0, 0], [0, 0]]

In [40]:
# [[10,11], [20,21], [30,31]]

for q in range(3):
    for w in range(2):
        print(10*(q+1)+w, end=' ')
    print()

10 11
20 21
30 31

In [46]:
outer_list = []
for i in range(3):
    inner_list = []
    for k in range(2):
        inner_list.append(10*(i+1)+k)
    outer_list.append(inner_list)
pprint(outer_list, indent=1, width=20)

[[10, 11],
 [20, 21],
 [30, 31]]

In [48]:
a = []
for i in range(3):
    for k in range(2):
        a.append(10*(i+1)+k)
a

[10, 11, 20, 21, 30, 31]

In [51]:
two_d = []
for i in range(3):
    line = []
    for k in range(2):
        line.append(10*(i+1)+k)
    two_d.append(line)
two_d

[[10, 11], [20, 21], [30, 31]]

In [53]:
# 바깥쪽:   [..... for i in range(3)]
# 위의 ..... 에 들어가는것이 아래의 '안쪽' 
# 안쪽:     [10*(i+1)+k for k in range(2)]


[[10*(i+1)+k for k in range(2)] for i in range(3)]

[[10, 11], [20, 21], [30, 31]]

In [81]:
# [[1,2,3,4],[11,12,13,14],[21,22,23,24]] 만들기
# 행 인덱스(i): 0,1,2 - range(3)
# 열 인덱스(k): 0,1,2,3 - range(4)
# 일반항: 10 * i + k + 1

three_d = []
for t1 in range(3):
    line = []
    for t2 in range(4):
        line.append(10*t1+t2+1)
    three_d.append(line)
print(three_d)

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

In [82]:
[[10*t1+t2+1 for t2 in range(4)] for t1 in range(3)]

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

In [85]:
[[10*t1+t2 for t2 in range(1,5)] for t1 in range(3)]

[[1, 2, 3, 4], [11, 12, 13, 14], [21, 22, 23, 24]]

- 2차원 리스트의 정렬은 추후 데이터프레임을 이용한 정렬에서 학습

In [84]:
students = [
    ['john', 'C', 19],
    ['maria', 'A', 25],
    ['jobin', 'B', 7],
]
df = pd.DataFrame(students, columns=['name','class','number'])
df

    name class  number
0   john     C      19
1  maria     A      25
2  jobin     B       7

In [86]:
df.sort_values(by='class', inplace=True)
df

    name class  number
1  maria     A      25
2  jobin     B       7
0   john     C      19

## 23.4 2차원 리스트의 할당과 복사

In [88]:
a = [[1,2], [3,4], [5,6]]
b =  a.copy()
b[1][1] = 30
b

[[1, 2], [3, 30], [5, 6]]

In [91]:
a

[[1, 2], [3, 30], [5, 6]]

In [93]:
import copy
a = [[1,2], [3,4], [5,6]]
b = copy.deepcopy(a)
b[1][1] = 30
b

[[1, 2], [3, 30], [5, 6]]

In [96]:
a                   # copy 문을 사용하면 b 값을 바꿔도 a값은 변하지 않음.

[[1, 2], [3, 4], [5, 6]]

## 심사문제 22,23

In [133]:
m, n = map(int, input().split())
if 1 <= m <= 20 and 10 <= n <= 30 and m < n :
    power_list = []
    for i in range(m, n+1):
        power_list.append(2 ** i)
    del power_list[1]
    del power_list[-2]
    print(power_list)

[1048576, 4194304, 8388608, 16777216, 33554432, 67108864, 134217728, 268435456, 1073741824]

In [145]:
import random
N = 8
mines = []
for _ in range(N):
    sero = []
    for _ in range(N):
        if random.random() > 0.7:
            sero.append('*')
        else:
            sero.append('.')
    mines.append(sero)

for sero in mines:
    for element in sero:
        print(element, end=' ')
    print()

. . . . . . * *
. . . . . . . .
. . * . . . . .
. * . * . . . .
. . . * . . . .
. . * . . . * .
* * * . . . . .
* . . * . * . .

In [146]:
def print_mines(mat):
    for sero in mat:
        for element in sero:
            print(element, end=' ')
        print()

In [149]:
N = int(input())
mines = [['*' if random.random() > 0.7 else '.' for _ in range(N)] for _ in range(N)]
print_mines(mines)

* * . . .
* . . . .
. . . * .
* * . * .
. . * * .

In [150]:
pad_mines = []
pad_mines.append(['.']*(N+2))
for sero in mines:
    line = ['.']
    line.extend(sero)
    line.append('.')
    pad_mines.append(line)
pad_mines.append(['.'] * (N+2))
print_mines(pad_mines)

. . . . . . .
. * * . . . .
. * . . . . .
. . . . * . .
. * * . * . .
. . . * * . .
. . . . . . .

In [152]:
final_mines = []
for i in range(1, N+1):
    sero = []
    for k in range(1, N+1):
        if pad_mines[i][k] == '*':
            sero.append('*')
        else:
            count = (pad_mines[i-1][k-1]=='*') + (pad_mines[i-1][k]=='*') + (pad_mines[i-1][k+1]=='*') + \
                    (pad_mines[i][k-1]=='*')   +                          + (pad_mines[i][k+1]=='*') + \
                    (pad_mines[i+1][k-1]=='*') + (pad_mines[i+1][k]=='*') + (pad_mines[i+1][k+1]=='*')
            sero.append(str(count))
        final_mines.append(sero)

print_mines(final_mines)

* * 1 0 0
* * 1 0 0
* * 1 0 0
* * 1 0 0
* * 1 0 0
* 3 2 1 1
* 3 2 1 1
* 3 2 1 1
* 3 2 1 1
* 3 2 1 1
3 3 3 * 2
3 3 3 * 2
3 3 3 * 2
3 3 3 * 2
3 3 3 * 2
* * 5 * 3
* * 5 * 3
* * 5 * 3
* * 5 * 3
* * 5 * 3
2 3 * * 2
2 3 * * 2
2 3 * * 2
2 3 * * 2
2 3 * * 2

# 연습문제

<pre>
a + b + c = 1000, a < b < c 를 만족하고,
a*a + b*b = c*c 를 만족하는 피타고라스 수 a, b, c 는?

In [155]:
for a in range(1, 999):                 # 수학적으론 사실상 1, 333 까지밖에 안되긴 함    
    for b in range(a+1, 500):
        c = 1000 - a - b                # c 값은 사실상 고정임 (a,b 에 따라서 결정되기때문 따라서 변수가 아님)
        if a*a + b*b == c*c:
            print(a, b, c)

200 375 425