# Unit 24. 문자열

## 24.1 문자열 조작

- 변경 (replace) method

In [2]:
s = 'Hello, python'
s.replace('python', 'world') # 파이썬을 월드로 바꿈

'Hello, world'

In [4]:
s

'Hello, python'

In [5]:
# 리스트의 메소드는 자기 파괴적
a = [10,20,30]
a.sort(reverse=True)

In [6]:
a

[30, 20, 10]

In [9]:
s = s.replace('python','world')
s

'Hello, world'

In [11]:
# 정규 표현식(Regular experssion)
import re                                   # regular expression
s = '안녕하세요? Python 코딩 강좌입니다'
re.sub('[^A-Za-z]',' ',s)                    # 패턴, 변경될 값, 문자열            # 영어문자 A부터 z까지 가 아니면(^) ' '으로 변경

'       Python         '

In [15]:
# 한글 이외에는 공백으로 변경
re.sub('[^ㄱ-ㅎㅏ-ㅣㄱ-힣]',' ', s)             # 한글이외에는 전부 ' ' 로 바꾸는법

'안녕하세요         코딩 강좌입니다'

- 문자열 분리(split)

In [23]:
s = 'apple pear grape pineapple orange'         # 기준 문자열로 문자열을 분리 (각 단어가 콤마와 공백으로 구분되어 있을 때)
d = s.split()
d

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [24]:
s = 'apple,pear,grape,pineapple,orange'
d = s.split(',')
d

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [26]:
stopwords = ['a','the','I','am','is']
s = 'I am a graduate student.'
d = s.split()
d = [word for word in d if word not in stopwords]
d

['graduate', 'student.']

- 문자열 리스트 연결(join)

In [29]:
' '.join(d)                 # 하나로 다시 뭉치게 함

'graduate student.'

In [31]:
' '.join('apple,pear,grape,pineapple,orange'.split(','))    # , 가 스페이스로 바뀜

'apple pear grape pineapple orange'

In [33]:
'apple,pear,grape,pineapple,orange'.replace(',',' ')

'apple pear grape pineapple orange'

In [35]:
s = 'I am a graduate student.'
' '.join(word for word in s.split() if word not in stopwords)

'graduate student.'

In [41]:
# 하나의 문장으로 만들기
d = s.split()
sentence = []
for word in d:
        if word not in stopwords:
            sentence.append(word)
sentence = ' '.join(sentence)
sentence

'graduate student.'

In [42]:
# 크롤링 = 인터넷 사이트에서 원하는 정보를 가져오는거

- 대소문자 변환(upper, lower)

In [47]:
'Python'.lower(), 'Python'.upper()              # 소문자(lower)와 대문자(upper) 로 변경함

('python', 'PYTHON')

- 공백 삭제(strip, lstrip, rstrip)

In [49]:
s = '   Python   '
s.lstrip(), s.rsplit(), s.strip()

('Python   ', ['Python'], 'Python')

In [51]:
s = ',=Python.!'
s.strip()

',=Python.!'

In [52]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [54]:
s.strip(string.punctuation)

'Python'

In [ ]:
- 메소드 체이닝(method chaining)

In [56]:
s = ',=Python.!'
s.lower().strip(string.punctuation)

'python'

In [62]:
s = '   123,000원'
# int('123000')
int(s.strip().strip(' 원').replace(',',''))

123000

In [67]:
s = 'USD 1,752.37$'
float(s.strip('USD $').replace(',',''))

1752.37

- 정렬(ljust,rjust)         (왼쪽정렬,오른쪽정렬)

In [70]:
'python'.ljust(10), 'python'.rjust(10), 'python'.center(11)

('python    ', '    python', '   python  ')

- 위치 찾기(find, rfind, index)

In [72]:
'apple pineapple'.find('pp')            # 실행시 1이 나옴. 1의 의미는 a -> 0번째, pp -> 1번째 의미

1

In [73]:
'apple pineapple'.find('xy')            # 값이 없으면 -1 이 나옴

-1

In [75]:
s = 'A quick brown fox jumps over the lazy dog.'
s.find('fox')

14

In [76]:
s = 'A quick brown fox jumps over the lazy dog.'
s.find('wolf')

-1

In [78]:
search = 'fox'
if s.find(search) >= 0:
    print('문장안에 찾고자 하는 문자열이 있습니다.')
else:
    print('문장안에 찾고자 하는 문자열이 없습니다.')

문장안에 찾고자 하는 문자열이 있습니다.

In [79]:
'fox' in s

True

In [80]:
'apple pineapple'.rfind('pp')           # 오른쪽에서부터 문자열 위치 찾기

11

In [81]:
'apple pineapple'.index('pp'), 'apple pineapple'.rfind('pp')

(1, 11)

- 문자열 개수 세기 (count)

In [84]:
'apple pineapple'.count('pp')

2

### 연습문제
<pre>
1. 디지털 시계 (00:00 ~ 23:59)가 있다.
하룻동안 3이라는 숫자가 표시되는 시간은 몇초인가

2. 1에서 1000까지 숫자에서 0,1,...,9는 몇번 나오는가
</pre>

In [88]:
# 디지털 시계
time = 0
for hour in range(24):
    for minute in range(60):
        display = str(hour) + ':' + str(minute)
        # display = f'{hour:02d}:{minute:02d}'
        if '3' in display:
            time += 60
print(time)

29700

In [ ]:
# 숫자 갯수
num_string = ''
for i in range(1,1001):
    num_string += str(i)

In [90]:
for i in range(10):
    count = num_string.count(str(i))
    print(i, count)

NameError: name 'num_string' is not defined

## 24.2 문자열 서식 지정자와 포매팅 사용하기

In [ ]:
# 서식 지정자 : %d, %f,

In [105]:
ss = 'python'
f'==={s:10s}==='    # 10s 는 앞에있는 숫자만큼 폭을 갖는 string 이다 로 이해

'===python    ==='

In [106]:
print('===', ss, '    ', '===', sep='')

===python    ===

In [97]:
dd = 3                      # 정수
f'==={dd:4d}:{dd:02d}==='     # 02 에서 0 은 한자리여도 0을 채워줌

'===   3:03==='

In [96]:
year, month, day, hour, minute = 2022, 3, 29, 11, 36
f'오늘은 {year} - {month:02d} - {day:02d} 이고, 시간은 {hour:02d} : {minute:02d} 입니다'

'오늘은 2022 - 03 - 29 이고, 시간은 11 : 36 입니다'

In [102]:
price = 35000
f'가격: {price:10,d}원'             # 10칸 중 6칸은 숫자로 쓰여서 앞의 4칸만 남음

'가격:     35,000원'

In [103]:
price1, price2 = 38000, 1200000
print(f'가격1: {price1:10,d}원' )
print(f'가격2: {price2:10,d}원' )

가격1:     38,000원
가격2:  1,200,000원

In [104]:
import math
f'파이값은 {math.pi:8.5f} 입니다.'

'파이값은  3.14159 입니다.'