# Unit 25. 딕셔너리

## 25.1 딕셔너리 조작

- 추가 및 수정

In [5]:
x = {'a': 10, 'b' : 20, 'c' : 30, 'd' : 40}
x.setdefault('e')                                    # x 에 e를 추가함 (값을 안줬으니 None 이 출력)
x.update(e=20)                                       # setdefault : 키-값 쌍 추가
x                                                    # update : 키의 값 수정, 키가 없으면 키-값 쌍 추가

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 20}

In [2]:
# 할당 방법으로 키가 없으면 새로운 키-값 쌍을 만들어 줌
x['f'] = 100                        # 실제로는 이렇게 더 많이 씀
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

In [3]:
# 할당 방법으로 키가 있으면 값을 변경해 준다
x['e'] = 100
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 100, 'f': 100}

In [4]:
x['a'] = 100
x

{'a': 100, 'b': 20, 'c': 30, 'd': 40, 'e': 100, 'f': 100}

- 삭제(pop)

In [6]:
# x.pop()               이렇게만 쓰면 에러남 : pop expected at least 1 argument, got 0 => 최소한 1개의 argument 가 필요함
#                       잴 마지막에 있는 값을 꺼내고싶은데 마지막에 있는 값을 모름

TypeError: pop expected at least 1 argument, got 0

In [9]:
x.pop('e')

20

In [10]:
x.pop('e',0)

0

In [14]:
del x['c']

KeyError: 'c'

In [16]:
x

('b', 20)

In [17]:
x.popitem()

('a', 10)

- 키의 값 가져오기

In [20]:
x = {'a': 10, 'b' : 20, 'c' : 30, 'd' : 40}
x.get('a')

10

In [21]:
x['a']

10

- 키, 값, 키-값 모두 가져오기

In [23]:
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [28]:
# 많이 사용됨
x.keys()            # dict_keys 로 리스트 형태의 키값을 나타내 줌

dict_keys(['a', 'b', 'c', 'd'])

In [26]:
x.values()          # 리스트 형태의 값만 나타내줌

dict_values([10, 20, 30, 40])

In [27]:
# 많이 사용됨
x.items()           # 리스트에서 튜플 형태로 값을 나타내 줌

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

## 25.3 딕셔너리와 반복문

In [30]:
# 좋은 방법이 아님
for item in x:
    print(item)

a
b
c
d

In [31]:
for key in x.keys():
    print(key, x[key])

a 10
b 20
c 30
d 40

In [32]:
# 많이 씀
for key, value in x.items():
    print(key, value)

a 10
b 20
c 30
d 40

## 25.3 표현식

In [34]:
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [35]:
# 값이 제곱한 값을 갖도록
y = {}
for key, value in x.items():
    y[key] = value * value
y

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

In [37]:
y = {key: value*value for key, value in x.items()}
y

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

In [38]:
y = {key: x[key]*x[key] for key in x.keys()}
y

{'a': 100, 'b': 400, 'c': 900, 'd': 1600}

In [39]:
# value 가 20의 배수인 것의 제곱수
y = {key: value*value for key, value in x.items() if value % 20 == 0}
y

{'b': 400, 'd': 1600}

## 25.4 Dictionary in dictionary

In [41]:
x = {'국어': [80, 86, 78, 92],
     '영어': [70, 82, 94, 90],
     '수학': [80, 86, 78, 92]}
x

{'국어': [80, 86, 78, 92], '영어': [70, 82, 94, 90], '수학': [80, 86, 78, 92]}

In [42]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])    # 6051.8

6051.8

In [43]:
terrestrial_planet['Earth']

{'mean_radius': 6371.0, 'mass': 5.97219e+24, 'orbital_period': 365.25641}

In [44]:
terrestrial_planet['Earth']['mean_radius']

6371.0

- 실전 사례 : 카카오 API

In [49]:
result = {'documents': [{'address': {'address_name': '강원 강릉시 저동 94',
    'b_code': '4215013700',
    'h_code': '4215066500',
    'main_address_no': '94',
    'mountain_yn': 'N',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_h_name': '경포동',
    'region_3depth_name': '저동',
    'sub_address_no': '',
    'x': '128.896538649542',
    'y': '37.7955687639648'},
   'address_name': '강원 강릉시 경포로 365',
   'address_type': 'ROAD_ADDR',
   'road_address': {'address_name': '강원 강릉시 경포로 365',
    'building_name': '경포대',
    'main_building_no': '365',
    'region_1depth_name': '강원',
    'region_2depth_name': '강릉시',
    'region_3depth_name': '저동',
    'road_name': '경포로',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '128.896538649542',
    'y': '37.7955687639648',
    'zone_no': '25461'},
   'x': '128.896538649542',
   'y': '37.7955687639648'}],
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

In [50]:
result.keys()

dict_keys(['documents', 'meta'])

In [48]:
# 경도 와 위도 를 실수로 출력
type(result['documents'])

list

In [51]:
type(result['documents'][0])

dict

In [52]:
result['documents'][0].keys()

dict_keys(['address', 'address_name', 'address_type', 'road_address', 'x', 'y'])

In [54]:
lng = float(result['documents'][0]['x'])
lat = float(result['documents'][0]['y'])
print(f'위도: {lat:9.6f}, 경도: {lng:10.6f}')

위도: 37.795569, 경도: 128.896539

- 행안부 도로명주소 API 검색 결과

In [57]:
result = {'results': {'common': {'errorMessage': '정상',
   'countPerPage': '10',
   'totalCount': '1',
   'errorCode': '0',
   'currentPage': '1'},
  'juso': [{'detBdNmList': '',
    'engAddr': '768, Bijarim-ro, Jocheon-eup, Jeju-si, Jeju-do',
    'rn': '비자림로',
    'emdNm': '조천읍',
    'zipNo': '63346',
    'roadAddrPart2': '',
    'emdNo': '02',
    'sggNm': '제주시',
    'jibunAddr': '제주특별자치도 제주시 조천읍 교래리 342-2 산굼부리',
    'siNm': '제주특별자치도',
    'roadAddrPart1': '제주특별자치도 제주시 조천읍 비자림로 768',
    'bdNm': '산굼부리',
    'admCd': '5011025929',
    'udrtYn': '0',
    'lnbrMnnm': '342',
    'roadAddr': '제주특별자치도 제주시 조천읍 비자림로 768',
    'lnbrSlno': '2',
    'buldMnnm': '768',
    'bdKdcd': '0',
    'liNm': '교래리',
    'rnMgtSn': '501103349079',
    'mtYn': '0',
    'bdMgtSn': '5011025929003420005071420',
    'buldSlno': '0'}]}}

In [59]:
result.keys()

dict_keys(['results'])

In [60]:
result['results'].keys()

dict_keys(['common', 'juso'])

In [62]:
result['results']['juso'][0].keys()

dict_keys(['detBdNmList', 'engAddr', 'rn', 'emdNm', 'zipNo', 'roadAddrPart2', 'emdNo', 'sggNm', 'jibunAddr', 'siNm', 'roadAddrPart1', 'bdNm', 'admCd', 'udrtYn', 'lnbrMnnm', 'roadAddr', 'lnbrSlno', 'buldMnnm', 'bdKdcd', 'liNm', 'rnMgtSn', 'mtYn', 'bdMgtSn', 'buldSlno'])

In [64]:
road_addr = result['results']['juso'][0]['roadAddr']
print(f'산굼부리 도로명 주소: {road_addr}')
road_addr               # bdNM 의 주소

산굼부리 도로명 주소: 제주특별자치도 제주시 조천읍 비자림로 768

'제주특별자치도 제주시 조천읍 비자림로 768'